/* NAV */

.nav ul {
  margin: 0;
  padding: 0;

  display: flex;

  align-items: center;

  column-gap: 64px;

  list-style-type: none;
}

.nav ul li ul {
  position: absolute;

  /* top: 48px; */
  left: 0;

  display: none;
}

.nav ul li:hover > ul {
  display: block;
}

.nav__item {
  position: relative;
}

/* .nav__item.nav__item_active .nav__item-link {
  color: #EBEBEB;
}

.nav__item:hover .nav__item-link {
  color: #EBEBEB;
} */

.nav__item-link {
  font-size: calc(12px + (24 - 12) * (100vw - 320px) / (1920 - 320));

  text-transform: uppercase;
  letter-spacing: 0.1em;
  white-space: nowrap;

  /* color: #fff; */

  transition: color 0.5s ease-in-out;
}

/* NAV-DROPDOWN */

.nav-dropdown {
  display: flex;
  flex-direction: column;
}

.nav-dropdown__item {
  margin-bottom: 16px;
}

.nav-dropdown__item-link {
  font-size: 24px;

  text-transform: uppercase;
  letter-spacing: 0.1em;
  white-space: nowrap;

  /* color: #fff; */

  transition: color 0.5s ease-in-out;
}
